<form [formGroup]="inputForm" class="wrapper" (ngSubmit)="resetPassword()">
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="email" matInput [formControl]="newPasswordControl">
    <mat-error *ngIf="newPasswordControl.hasError('required')">
      Password is <strong>required</strong>.
    </mat-error>
    <mat-error *ngIf="newPasswordControl.hasError('minlength')">
      Password has to be at least 8 characters long.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Repeat Password</mat-label>
    <input type="email" matInput [formControl]="repeatPasswordControl">
  </mat-form-field>
  <mat-error *ngIf="inputForm.hasError('equalValues')">
    The passwords do not match.
  </mat-error>
  <button>Reset</button>
</form>
