<div class="wrapper">
    <div class="filter-wrapper">
        <i *ngIf="posts.length > 0 && _searchMode !== 'shuffle'" class="fa-solid fa-filter" [mat-menu-trigger-for]="filter"></i>
    </div>
    <div class="posts" infinite-scroll (scrolled)="addNextPosts()" [infiniteScrollDistance]="1">
        <app-post *ngFor="let item of posts" [post]="item" class="post"></app-post>
    </div>
</div>

<mat-menu #filter class="dropdown-menu">
    <span>Sort by:</span>
    <ng-container *ngIf="_orderParameter !== _orderByLatest">
        <button mat-menu-item (click)="changeOrder(_orderByLatest)">Latest<i class="fa-solid fa-calendar icon"></i></button>
    </ng-container>
    <ng-container *ngIf="_orderParameter !== _orderByTime">
        <button mat-menu-item (click)="changeOrder(_orderByTime)">Preparation time<i class="fa-solid fa-clock icon"></i></button>
    </ng-container>
    <ng-container *ngIf="_orderParameter !== _orderByAmountSaved">
        <button mat-menu-item (click)="changeOrder(_orderByAmountSaved)">Saved by<i class="fa-solid fa-bookmark icon"></i></button>
    </ng-container>
</mat-menu>
