<div class="wrapper">
  <mat-card>
    <mat-card-title>Reset Password</mat-card-title>
    <form [formGroup]="inputForm" class="wrapper" (ngSubmit)="resetPassword()">
      <div class="input-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput [formControl]="newPasswordControl">
          <mat-error *ngIf="newPasswordControl.hasError('required')">
            Password is <strong>required</strong>.
          </mat-error>
          <mat-error *ngIf="newPasswordControl.hasError('minlength')">
            Password is too short.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Repeat Password</mat-label>
          <input type="password" matInput [formControl]="repeatPasswordControl">
        </mat-form-field>
        <mat-error *ngIf="inputForm.hasError('equalValues')">
          The passwords don't match.
        </mat-error>
        <button>Reset</button>
      </div>
    </form>
  </mat-card>
</div>
