<div id="authenticator">
    <mat-card id="authenticator-content">
        <mat-card-header>
            <mat-card-title>{{ getStateText() }}</mat-card-title>
        </mat-card-header>

        <div *ngIf="isLoginState()">
            <form [formGroup]="loginForm!">
                <input placeholder="Email" formControlName="email" id="login-email" />
                <input placeholder="Password" type="password" formControlName="password" id="login-password" />
                <button mat-flat-button color="warn" (click)="onLoginClick()">Login</button>
            </form>
        </div>

        <div *ngIf="isSignUpState()">
            <form [formGroup]="signUpForm!">
                <input placeholder="Email" formControlName="email" id="signup-email" />
                <input placeholder="Username" formControlName="username" id="signup-name" />
                <input placeholder="Password" type="password" formControlName="password" id="signup-password" />
                <input placeholder="Confirm Password" type="password" formControlName="passwordRepeat" id="signup-password-repeat" />
                <button mat-flat-button color="warn" (click)="onCreateAccountClick()">Create Account</button>
            </form>
        </div>

        <div *ngIf="isForgotPasswordState()">
            <form [formGroup]="forgotPasswordForm!">
                <input placeholder="Email" formControlName="email" />
                <button mat-flat-button color="warn" (click)="onForgotPasswordClick()">Reset Password</button>

                //TODO:
                <hr>
            </form>
            <form [formGroup]="x">
                <app-input-with-error [text]="'test123'" [formControl]="getXTest()"></app-input-with-error>
            </form>
        </div>

        <mat-card-actions align="end">
            <div class="changeStateButtons">
                <button mat-flat-button (click)="onForgotPasswordChange()">Forgot Password</button>
                <button mat-flat-button (click)="onSignUpChange()">Sign up</button>
                <button mat-flat-button (click)="onLoginChange()">Login</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
