<div class="top-wrapper">
    <i class="fa-solid fa-arrow-left navbar"></i>

    <div class="profile-container">
        <div class="avatar-container">
            <img [src]="inputForm.value.profilePicture" protectedImage class="profile-image" />
            <button *ngIf="editMode" (click)="imageInput.click()">
                <i class="fa-solid fa-pen"></i>
            </button>
            <input type="file" (change)="imageUpload()" #imageInput accept="image/png, image/jpeg" />
        </div>

        <div class="name-container">
            <form [formGroup]="inputForm">
                <input #usernameInput type="text" id="name-input" formControlName="username" />
                <input #emailInput type="text" id="email-input" formControlName="email" />
                <input *ngIf="editMode" type="password" placeholder="password" formControlName="password" />
                <div *ngIf="editMode" class="edit-menu">
                    <i class="fa-solid fa-xmark" (click)="leaveEditMode()"></i>
                    <i class="fa-solid fa-check" (click)="saveChanges()"></i>
                    <p *ngIf="errorMsg !== ''" class="error-message">{{ errorMsg }}</p>
                </div>
            </form>
        </div>
    </div>

    <i *ngIf="ownProfile" class="fa-solid fa-ellipsis-vertical navbar" [matMenuTriggerFor]="menu"></i>
</div>

<mat-menu #menu class="dropdown-menu">
    <button mat-menu-item (click)="enterEditMode()">Edit profile<i class="fa-solid fa-user-pen" style="margin-left: 0.75vw"></i></button>
    <a mat-menu-item>Change password<i class="fa-solid fa-pen" style="margin-left: 0.75vw"></i></a>
    <a mat-menu-item (click)="logout()">Log out<i class="fa-solid fa-arrow-right-to-bracket" style="margin-left: 0.75vw"></i></a>
</mat-menu>

<div class="posts-wrapper">
    <app-post-container [filterParameter]="[{ field: 'postedById', op: '=', value: requestedUserId }]" [searchMode]="'profile'"></app-post-container>
</div>