form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > mat-error {
  padding-bottom: 1.175em;
}

.changeStateButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  button {
    font-size: 0.9em;
  }
}
